.createPostInputFields{
    border: solid black;
    border-radius: 50px;
    text-align: center;
}
.mappedPosts{
    width: 300px;
    border: solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.spinner{
    height: 50px; 
    width: 50px;
}
.loadingFunctionSection{
    text-align: center;
}

