.createPostInputFields{
    border: solid black;
    border-radius: 10px;
    text-align: center;
}
/* individual post */
.mappedPosts{
    border: solid black;
    border-radius: 10px;
}
.spinner{
    height: 50px; 
    width: 50px;
}
.loadingFunctionSection{
    text-align: center;
}
.test{
    display: flex;
}

